{% extends "admin/base_site.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="/">{{ site_header|default:_('Django administration') }}</a></h1>

<p>Các trường hợp cần cứu hộ khẩn cấp, xin gửi thông tin vào Group Zalo: <a target="_blank" href="https://zalo.me/g/vidoes562">https://zalo.me/g/vidoes562</a>  </p>
<!-- <p>Để truy cập dữ liệu của dự án qua API, mời truy cập: <a target="_blank" href="/api/">Open API</a></p> -->
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
    {{ block.super }}

    <script>
      if (typeof django !== 'undefined') {
        ($ => {
          $('input.vForeignKeyRawIdAdminField').each((index, item) => {
            $(item).on('click', e => {
              filter = $(item).closest('.related-widget-wrapper');
              if (filter.length) {
                filter.find('.dynamic_raw_id-related-lookup').click();
              }
            });
          });
          $(".highlight-red").closest('tr').css("background-color", "#f3ecec");
          $(".highlight-blue").closest('tr').css("background-color", "#ebf2f5");
        })(django.jQuery);
      }
    </script>

    <style type="text/css">
      body.popup .object-tools {
        display: none;
      }
      .object-tools a:link, .object-tools a:visited {
        background-color: #70bf2b
      }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-78T5RKNBEK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-78T5RKNBEK');
</script>
{% endblock %}

