{% extends "layout.html" %}

{% block content %}
<h2 class="page-title mb-5">Hệ thống thông tin EndCovi | Chung tay chấm dứt Covid</h2>

<pre style="font-family: inherit; white-space: pre-wrap; word-break: break-word">
    <a href="https://endcovi.com">https://endcovi.com</a>  Ra đời để góp phần chấm dứt Covid tại Việt Nam, với những mục tiêu sau: 
    ✔️ Thiết lập hệ thống công nghệ, liên tục cải tiến chức năng; trở thành database lớn về dữ liệu hỗ trợ trong dịch Covid
    ✔️ Tạo kênh liện lạc và kết nối được cho bà con, giảm tải áp lực cho hotline hỗ trợ địa phương
    ✔️ Kết nối hỗ trợ những ca bệnh nhiễm Covid đang gặp khó khăn, những hộ dân trong khu phong toả, cách ly. 

    Nếu bạn là Lập Trình Viên, có thể đóng góp tại Github: <a href="https://github.com/endcovi/endcovi.com">https://github.com/endcovi/endcovi.com</a>

    <!-- ✔️ Tổ chức quản lý TNV trực tổng đài, nhập liệu thông tin từ các nguồn nhỏ lẻ và xác minh thông tin hộ dân kết nối đội hỗ trợ -->
    <!-- ✔️ Đối ngoại kết nối các nguồn lực; kết nối với Cano 0 đồng, được Quân khu IV và Tỉnh đoàn Quảng Bình, Nghệ An, Quảng Trị, Quảng Ngãi tiếp nhận dữ liệu đưa ngay vào công tác hỗ trợ tại địa phương -->
    <!-- ✔️Được ghi nhận bởi và lan tỏa thông tin bởi các đơn vị báo chí uy tín nhất Việt Nam: VTV, VTC, Tuổi trẻ, ANTV, THQP, Vietnamnet... -->
</pre>
{% endblock %}
